/* Single Selector */
h1{
    color: blue;
}

/* Groud Selector */
h2,h3,h4{
    color: chartreuse;
}

/* ID Selector */
#myself,#mm{
    color: red;
}
#japu,span{
    color: darkturquoise;
}

/* Class Selector */
.ph{
    color: green;
}
.phone{
    font-size: 30px;
}

.hay{
    color: lime;
    font-size: 20px;
}
#hay{
    color: magenta;
    font-size: 20px;
}